<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=NHAN-PC\SQLEXPRESS;Initial Catalog= ShopFashion;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
</connectionStrings>

<!--<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=ShopFashion;Integrated Security=True;" providerName="System.Data.SqlClient" />
</connectionStrings>-->
